.card {
    margin: 0;
    padding-bottom: 45px;
    width: 100%;
}

.card__title {
    color: var(--cor-letra);
    text-align: center;
    margin: 50px 0 32px 0;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-size: 28px;
}

.card__descricao{
    padding: 30px 27px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.descricao {
    border: 0.2px solid var(--cinza-meteora);
    width: 323px;
}

.descricao_image {
    border-radius: 4px 4px 0px 0px;
    height: 402px;
    width: 323px;
}

.descricao__text {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    color: var(--cor-letra);
    padding: 10px 16px;
}

.text__title {
    font-style: normal;
    font-weight: 700;
    line-height: 23px; 
    font-size: 16px;
    padding: 0px 13px;
}

.text__p {
    text-align: justify;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    font-size: 12px;
    padding: 16px 13px;
}

.text__span {
    font-style: normal;
    font-weight: 900;
    line-height: 23px;
    font-size: 16px;
    padding: 0 0 10px 13px;
}

.text__button {
    color: var(--cor-de-fundo);
    background-color: var(--roxo-meteora);
    padding: 9px 16px;
    margin: 0 0 0 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.457px;
    font-size: 16px;
}

@media screen and (min-width: 768px){

    
    .card__descricao {
        padding: 10px;
        /* gap: 30px; */
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

     .descricao {
        width: 330px; 
    }  

    .descricao__image {
        height: 389px;
        width: 100%;
        object-fit: cover;
    }

    .descricao__text {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        color: var(--cor-letra);
        padding: 10px;
    }
}

@media screen and (min-width: 1440px){

    .card__title {
        text-align: center;
        margin: 50px 0 32px 0;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        font-size: 28px;
    }

    .card__descricao {
        padding:  30px 165px;
        /* gap: 30px; */
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

     .descricao {
        width: 330px; 
        min-height: 400px;
    }  

    .descricao__image {
        height: 389px;
        width: 100%;
    }

    .descricao__text {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        color: var(--cor-letra);
        padding: 10px;
    }
}